{$APP_DOMAIN} {
    request_body {
        max_size 64KB
    }
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        -Server
    }
    encode gzip
    reverse_proxy bot:8000
}
